
<link rel="stylesheet" href="/css/404.css" />
<div>
    <p class="p404">HTTP: <span class="span404">404</span></p>
    <p class="notice">
        The page you tried to reach doesn't exist. Did you type in the correct url?
    </p>
    <center><button onclick="history.back()">Go back</button></center>
</div>