  <div style="display:none;">
    <p>Usuario: <span id="user_Id">{{userId}}</span> </p>
  </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/calendar">Return to Calendar <span class="sr-only"></span></a>
      </div>
  </div>
</nav>

   {{#each projects as |project| }}
   <div style="display:none;">
    <p>Project Id: <span id="projectId">{{project.projectId}}</span></p>
   </div>
    <p style="margin-top:15px; font-size:25px;">Project Name: <span>{{project.name}}</span></p>       

   {{/each}} 

<form>
  <div class="form-group row">
    <label for="inputActivityName" class="col-sm-10 col-form-label">Activity Name:</label>
    <div class="col-10 col-sm-12">
      <input type="text" class="form-control" id="inputActivityName" placeholder="Activity Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputActivityDescription" class="col-sm-10 col-form-label">Activity Description:</label>
    <div class="col-10 col-sm-12">
      <input type="text" class="form-control" id="inputActivityDescription" placeholder="Activity Description">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputActivityDeadLine" class="col-sm-10 col-form-label">Dead Line:</label>
    <div class="col-10 col-sm-12">
      <input type="date" class="form-control" id="inputActivityDeadLine" placeholder="Dead line">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputStartHour" class="col-sm-10 col-form-label">Start Hour:</label>
    <div class="col-10 col-sm-12">
      <input type="time" class="form-control" id="inputStartHour" placeholder="Start Hour">
    </div>
  </div>   
  <div class="form-group row">
    <label for="inputEndHour" class="col-sm-10 col-form-label">End Hour:</label>
    <div class="col-10 col-sm-12">
      <input type="time" class="form-control" id="inputEndHour" placeholder="End Hour">
    </div>
  </div>      
  <div class="form-group row">
    <div class="col-10 col-sm-12">
      <button type="submit" id="saveActivity" class="btn btn-primary" style="margin-top:15px;">Save Activity</button>
    </div>
  </div>
</form>

<script src="/js/activities.js"></script>
